* {
  margin: 0;
}

body {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.header {
  width: 100%;
  background-color: lightcoral;
  text-align: center;
  padding: 30px;
  color: wheat;
  letter-spacing: 5px;
}
.card {
  max-width: 300px;
  cursor: pointer;
  box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  background-color: antiquewhite;
  margin: 20px;
}

.card img {
  margin-top: 50px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  filter: brightness(90%);
  transform: translate(0, 2px);
}

.container {
  padding: 2px 16px;
}

@media screen and(max-width: 1000px) {
  .card {
    max-width: 500px;
  }
}
